# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Operating System files
.DS_Store
Thumbs.db